* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

nav {
    width: 1521px;
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    box-shadow: 0px 0px 42px 2px #dddd;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 26px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: 700px;
}

.navbar-links li a {
    text-decoration: none;
    transition: .5s;
    color: #121212;
}

.navbar-links li a:hover {
    color: red;
}

.li button {
    width: 100px;
    height: 56px;
    border-radius: 12px;
    border: transparent;
    border-bottom: 1px solid #656565;
    transition: .5s;
}

.li button:hover {
    background-color: #FF5634;
    color: white;
    border-bottom: 1px solid #656565;
    scale: 0.8;
}

.red {
    width: 50px;
}

.card {
    width: 1521px;
    height: 612px;
    display: flex;
}

.cards {
    width: 510px;
    margin: 140px 140px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.b {
    width: 257px;
    font-weight: 400;
    font-size: 18px;
    color: #FF5634;
}


.cards h2 {
    width: 515px;
    font-weight: 700;
    font-size: 62px;
}

.cards p {
    width: 574px;
    font-size: 12px;
    font-weight: 400;
    color: #656565;
}

.ki {
    display: flex;
    gap: 28px;
}

.cards button {
    width: 240px;
    height: 73px;
    font-size: 18px;
    border-radius: 16px;
    border: transparent;
    transition: .5s;
    border-bottom: 1px solid #CACACA;
}

.cards button:hover {
    background-color: #FF5634;
    color: white;
    scale: 1.1;
    border-bottom: 1px solid #656565;
}

.bi {
    display: flex;
    gap: 10px;
    border-top: 1px solid #CACACA;
}

.kil {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 60px;
    left: 150px;
    color: #656565;
}

.c {
    width: 180px;
    font-size: 18px;
}

.ci {
    width: 150px;
    font-size: 18px;
}

.car img {
    width: 540px;
    height: 700px;
    position: absolute;
    right: 0;
}

.car .vi {
    width: 300px;
    height: 500px;
    position: absolute;
    right: 340px;
    bottom: 20px;
}

main {
    width: 100%;
    min-height: 100vh;
}

.cv {
    padding: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #656565;
}

.mi {
    width: 250px;
    display: flex;
    gap: 100px;
    position: absolute;
    bottom: -380px;
    left: 150px;
}

.mil {
    width: 1521px;
    height: 888px;
}

.lim {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    padding-left: 280px;
    padding-top: 200px;
}

.lim h1 {
    padding-right: 240px;
    font-size: 22px;
    font-weight: 400;
    transition: .5s;
}

.lim h1:hover {
    color: #FF5634;
}

.x {
    width: 520px;
    font-size: 40px;
    margin-left: 240px;
}

.lim p {
    width: 674px;
    font-size: 12px;
    color: #656565;
    margin-left: 160px;
}

.cars {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 1222px;
    height: 430px;
    margin-left: 180px;
}

.cas {
    width: 350px;
    height: 400px;
    margin-left: 10px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cas h1 {
    width: 280px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

.cas p {
    width: 344px;
    font-size: 18px;
    font-weight: 400;
    color: #656565;
    text-align: center;
}

.vib {
    display: flex;
    gap: 40px;
    margin-left: 520px;
}

.vib button {
    width: 247px;
    height: 73px;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 16px;
    border: transparent;
    transition: .5s;
    border-bottom: 1px solid #656565;
}

.vib button:hover {
    scale: 1.1;
    color: white;
    background-color: #FF5634;
    border-bottom: 1px solid #656565;
}

.lom {
    display: flex;
    width: 1422px;
    height: 836px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

.mol {
    padding: 35px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mol h1 {
    width: 479px;
    font-size: 44px;
    font-weight: 700;
    text-align: justify;
}

.mol p {
    width: 541px;
    font-size: 12px;
    font-weight: 400;
    color: #656565;
}

.fil {
    width: 274px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fil img {
    width: 63px;
    height: 56px;
}

.fil h1 {
    width: 157px;
    font-weight: 400;
    font-size: 22px;
}

.fil p {
    width: 234px;
    color: #656565;
}

.fil span {
    width: 410px;
    font-size: 18px;
    font-weight: 400;
    color: #656565;
    padding: 0px 50px 0px;
}

.lif {
    width: 800px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.ds {
    width: 472px;
    height: 684px;
    position: absolute;
    right: 50px;
    z-index: 1;
}

.mar {
    width: 282px;
    height: 570px;
    position: relative;
    top: 66px;
    right: 20px;
    z-index: 0;
}

.but {
    width: 380px;
    height: 40px;
    display: flex;
    gap: 30px;
    position: relative;
    top: 750px;
    right: 640px;
    z-index: 2;
}

.but button {
    width: 380px;
    height: 73px;
    border-radius: 16px;
    border: transparent;
    border-bottom: 1px solid #656565;
    transition: .5s;
}

.but button:hover {
    background-color: #FF5634;
    scale: 1.1;
    color: white;
    border-bottom: 1px solid #656565;
}

.kim {
    width: 1521px;
    height: 620px;
    display: flex;
    margin-top: 200px;
    background-color: #121212;
}

.man {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 140px;
    margin-top: 240px;
}

.man h1 {
    width: 563px;
    font-size: 56px;
    font-weight: 700;
    font-style: bold;
}

.man p {
    width: 541px;
    color: #ffff;
    text-align: center;
}

.man button {
    width: 206px;
    height: 73px;
    font-size: 20px;
    transition: .5s;
    border-radius: 16px;
    border: transparent;
    border-bottom: 1px solid red;
    margin-top: 40px;
}

.man button:hover {
    scale: 1.1;
    background-color: #FF5634;
    color: white;
    border-bottom: 1px sollid white;
}

.san img {
    width: 600px;
    height: 620px;
    position: absolute;
    right: 0;
}

.lok {
    width: 1270px;
    height: 998px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.luk {
    width: 700px;
    height: 209px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.luk h1 {
    width: 140px;
    font-size: 20px;
    font-weight: 400;
    transition: .5s;
}

.luk h1:hover {
    color: #FF5634;
}

.luk h2 {
    width: 580px;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    font-style: bold;
}

.luk p {
    width: 880px;
    font-size: 18px;
    color: #656565;
}

.kul {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: 50px;
}

.lop {
    width: 350px;
    height: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.lop h1 {
    font-size: 20px;
    font-weight: 600;
}

.lop p {
    width: 320px;
    font-size: 18px;
    text-align: center;
}

.kul button {
    width: 247px;
    height: 73px;
    border: transparent;
    border-radius: 16px;
    border-bottom: 1px solid #656565;
    font-size: 18px;
    position: relative;
    left: 320px;
    transition: .5s;
}

.kul button:hover {
    scale: 0.7;
    background-color: #FF5634;
    color: white;
    border-bottom: 1px solid gray;
}

.vab {
    width: 1222px;
    height: 767px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.vad {
    width: 598px;
    height: 589px;
    border-radius: 32px;
    background-color: #FF5634;
}

.vad .fd {
    position: relative;
    left: 60px;
    top: 40px;
}

.vad .df {
    position: relative;
    left: 200px;
    bottom: 500px;
}

.vaw {
    width: 540px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 150px;
    margin-left: 40px;
}

.vaw h1 {
    width: 482px;
    font-size: 44px;
    font-weight: 700;
}

.vaw p {
    width: 545px;
    font-size: 18px;
    font-weight: 400;
    color: #656565;
}

.iml {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.los {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.los h1 {
    width: 232px;
    font-size: 24px;
    font-weight: 400;
}

.los p {
    width: 450px;
    font-size: 13px;
    font-weight: 400;
    color: #656565;
}

.vabs {
    width: 1222px;
    height: 767px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.vad .fds {
    position: relative;
    left: 190px;
    top: 40px;
}

.vad .dfs {
    position: relative;
    left: 50px;
    bottom: 500px;
}

.mak {
    width: 1521px;
    height: 1060px;
    margin-top: 200px;
    background-color: #FAFAFA;
}

.pol {
    padding: 85px 165px;
}

.wh {
    width: 415px;
    font-size: 44px;
    font-weight: 400;
}

.lo {
    width: 400px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #656565;
}

.cras {
    display: flex;
    gap: 40px;
    position: absolute;
    right: 300px;
}

.cras button {
    width: 247px;
    height: 73px;
    border: transparent;
    border-bottom: 1px solid #656565;
    transition: .5s;
    border-radius: 16px;
    font-size: 20px;
}

.cras button:hover {
    background-color: #FF5634;
    color: white;
    border-bottom: 1px solid #656565;
    scale: 1.1;
}

.div {
    width: 389px;
    height: 268px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 150px;
    margin-top: 30px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 2px #aeabab;
}

.ban {
    padding-left: 40px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nab {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nab h1 {
    width: 203px;
    font-size: 18px;
    font-weight: 800;
    margin-top: 60px;
}

.nab span {
    transition: .5s;
    width: 197px;
    font-size: 16px;
    font-weight: 400;
}

.nab span:hover {
    color: #FF5634;
    width: 400px;
    font-size: 20px;
}

.nab p{
    width: 315px;
    font-size: 18px;
    font-weight: 400;
    color: #656565;
    position: relative;
    top: 40px;
    right: 80px;
}

.maj{
    width: 1300px;
    gap: 28px;
    display: flex;
    flex-wrap: wrap;
}